
.button {
    -fx-background-color: gray;
    -fx-border-radius: 5;
    -fx-text-fill: black;
    -fx-border-color: black;
}

.label {
    -fx-text-fill: black;
}

.text-field {
    -fx-control-inner-background: lightblue;
    -fx-text-fill: black;
}

.text-area {
    -fx-control-inner-background: white;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold
}

.slider {
    -fx-control-inner-background: lightcoral;
}


#updateButton {
    -fx-background-color: greenyellow;
    -fx-border-radius: 5;
    -fx-text-fill: black;
    -fx-border-color: blueviolet;
    -fx-font-weight: bold
}

#launchButton {
    -fx-background-color: cornflowerblue;
    -fx-border-radius: 5;
    -fx-text-fill: black;
    -fx-border-color: blueviolet;
    -fx-font-weight: bold
}

#clearButton {
    -fx-background-color: crimson;
    -fx-border-radius: 5;
    -fx-text-fill: black;
    -fx-border-color: blueviolet;
    -fx-font-weight: bold
}

#optionsPane {
    -fx-background-color: lightgrey;
}

#sliderOptionsPane {
    -fx-background-color: lightgrey;
}


